<header>
  <div>
    <img class="site-logo" src="/images/Full_Lightest.webp" href="/">
  </div>
  {{#if isLoggedIn}}
    <div>
      <form class="search" action="/search" method="GET">
      <input type="text" name="query" placeholder="Search for a book by author or title..." required>
      <button class="btn" type="submit">Search</button>
      </form>
    </div>
    <div>
      <a class="nav-link" href=" private">Profile</a>
    <a class="nav-link" href="/api/logout">Logout</a>
    </div>
  {{else}}
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/signup">Sign Up</a>
  {{/if}}
</header>
