<header>
  {{#if isLoggedIn}}  
    <div>
      <a href="http://localhost:3000/private">
        <img class="site-logo" src="/images/Full_Lightest.webp" href="/">
      </a>
    </div>
  
    <div>
      <form class="search" action="/search" method="GET">
      <input type="text" name="query" placeholder="Search for a book by author or title..." required>
      <button class="btn" type="submit">Search</button>
      </form>
    </div>
    <div>
      <a class="nav-link" href="/private">Profile</a>
    <a class="nav-link" href="/logout">Logout</a>
    </div>
  {{else}}
    <div>
      <a href="http://localhost:3000">
        <img class="site-logo" src="/images/Full_Lightest.webp" href="/">
      </a>
    </div>
  {{/if}}
</header>
