{{> header}}
<main>
  <div>
    <h1>Welcome to Book Tracker</h1>
    <h2>Your personal reading companion.</h2>
    <p>Build your digital bookcase, find new books to read, and track your reading goals all in one place.</p>
  </div>
  <div>
    {{#if isLoggedIn}}
    <button class="btn" onclick="window.location='/private';">Get started</button>
    {{else}}
    <button class="btn" onclick="window.location='/login';">Login</button>
    <button class="btn" onclick="window.location='/signup';">Sign up</button>
    {{/if}}
  </div>
</main>
{{> footer}}