{{> header}}
<main class="profile">
    <div class="sidebar">
    {{#if isLoggedIn}}
    <img src='/images/anonymousavatar.webp' alt="Avatar" class="profile-photo"/>
    <h3>Hello, Username!</h3>
    <a href="#">Currently Reading</a>
    <a href="#">Want to Read</a>
    <a href="#">Read</a>
    {{else}}
    <p>Please log in or create an account.</p>
    {{/if}}
  </div>

  <div class="profile-content">
    <h1>Welcome</h1>
    <p>This is where your homepage will be. You should only be able to see this page if logged in.</p>
    <form class="search" action="/search" method="GET">
      <input type="text" name="query" placeholder="Search for a book by author or title..." required>
      <button class="btn" type="submit">Search</button>
    </form>
  <p>Currently, you are {{#unless isLoggedIn}} NOT {{/unless}} logged in.</p>
  <p>You should {{#unless isLoggedIn}}NOT{{/unless}} be able to access <a href="/private">this page</a>.</p>
  <p>Use the header above to {{#if isLoggedIn}} logout{{else}} login or create an account{{/if}}.</p>
</main>
{{> footer}}