{{> header}}
<main>
  <div>
    <h1>Welcome to Book Tracker</h1>
    <h2>Your personal reading companion.</h2>
    <p>Build your digital bookcase, find new books to read, and track your reading goals all in one place.</p>
  </div>
  <div>
    <h3>Dev helpers</h3>
    <p>You are currently {{#unless isLoggedIn}} NOT {{/unless}} logged in.</p>
    <p>You should {{#unless isLoggedIn}}NOT{{/unless}} be able to access <a href="/private">your profile</a>.</p>
    <p>Use the header above to {{#if isLoggedIn}} logout{{else}} login or create an account{{/if}}.</p>
  </div>
</main>
{{> footer}}