{{> header}}
<main class="profile">

    <div class="profile-content">
        <h1>Your library</h1>
        <p>This is where your bookshelves will be. You should only be able to see this page if logged in.</p>
        
        <!-- BOOKSHELVES -->
        <div class="bookshelves">
            {{#if books.currently_reading.length}}
            <div class="shelf">
            <h2>Currently Reading: </h2>
            <ul>
                {{#each books.currently_reading}}
                    {{> bookcard}}
                {{/each}}
            </ul>
            </div>
            {{/if}}

            {{#if books.want_to_read.length}}
            <div class="shelf">
            <h2>Want to read: </h2>
            <ul>
                {{#each books.want_to_read}}
                    {{> bookcard}}
                {{/each}}
            </ul>
            </div>
            {{/if}}

            {{#if books.read.length}}
            <div class="shelf">
            <h2>Read: </h2>
            <ul>
                {{#each books.read}}
                    {{> bookcard}}
                {{/each}}
            </ul>
            </div>
            {{/if}}

        </div>
    </div>
</main>
{{> footer}}