:root {
  --darkest: #0a2b23;
  --darker: #2a453f;
  --dark: #3a695d;
  --primary: #4a8273;
  --light: #b8d7cc;
  --light: #b8d7cc;
  --lighter: #f4f9f7;
  --lightest: #ffffff;
  --space: 16px;
  --font-size: 18px;
}

/* <weight>: Use a value from 400 to 800
<uniquifier>: Use a unique and descriptive class name

.syne-<uniquifier> {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*/

body {
  background-color: var(--dark);
  color: var(--darkest);
  font-size: var(--font-size);
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-link {
  color: var(--light);
}

.nav-link:hover {
  color: var(--primary);
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--lighter);
  padding: var(--space) calc(var(--space) * 3);
  text-align: center;
}

main,
main form {
  border-radius: 4px;
}

h1 {
  font-size: calc(var(--font-size) * 2.25);
}
h2 {
  font-size: calc(var(--font-size) * 2);
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
}

a {
  color: var(--primary);
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--light);
}

button.btn {
  border: var(--lightest);
  border-radius: 4px;
  background-color: var(--darkest);
  padding: calc(var(--space) * 0.75) calc(var(--space) * 2);
  cursor: pointer;
  transition: background-color 200ms;
  color: var(--lighter);
}
button.btn-text {
  border: none;
  background-color: transparent;
  color: var(--lightest);
  transition: 200ms;
  cursor: pointer;
}

button.btn:hover,
button.btn:focus {
  background-color: var(--light);
  color: var(--darkest)
}
button.btn-text:hover,
button.btn-text:focus {
  color: var(--light);
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkest);
  margin-bottom: calc(var(--space) * 6);
}
header a {
  margin: var(--space);
}
header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
}

.site-logo {
  text-align: center;
  color: var(--lightest);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--primary);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}
