:root {
  --darkest: #331F1C;
  --darker: #3D6142;
  --dark: #867E52;
  --light: #C2D5AA;
  --lighter: #fcf1e4;
  --lightest: #ffffff;
  --space: 16px;
  --font-size: 18px;
}

/* <weight>: Use a value from 400 to 800
<uniquifier>: Use a unique and descriptive class name

.syne-<uniquifier> {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*/

body {
  background-color: var(--light);
  color: var(--darkest);
  font-size: var(--font-size);
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-link {
  color: var(--lightest);
}

.nav-link:hover {
  color: var(--light);
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--lighter);
  padding: var(--space) calc(var(--space) * 2);
  text-align: center;
  border: 1px solid var(--darker);
}

main,
main form {
  border-radius: 4px;
}

h1 {
  font-size: calc(var(--font-size) * 2.25);
}
h2 {
  font-size: calc(var(--font-size) * 2);
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
}

a {
  color: var(--dark);
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--darker);
}

button.btn {
  border: var(--lightest);
  border-radius: 4px;
  background-color: var(--darker);
  padding: calc(var(--space) * 0.75) /*calc(var(--space) * 2)*/;
  cursor: pointer;
  transition: background-color 200ms;
  color: var(--lightest);
  max-width: 90px;
}
button.btn-text {
  border: none;
  text-align: center;
  background-color: transparent;
  color: var(--lightest);
  transition: 200ms;
  cursor: pointer;
}

button.btn:hover,
button.btn:focus {
  background-color: var(--dark);
  color: var(--lightest)
}



header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darker);
  margin-bottom: calc(var(--space) * 6);
  border-bottom: 1px solid var(--darkest);
}

header a {
  margin: var(--space);
}

header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
}

.site-logo {
  text-align: center;
  color: var(--lightest);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.site-logo:hover {
  color: var(--light);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--dark);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
  border: var(--darker);
}


/* PROFILE PAGE */
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--darker);
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: var(--space) calc(var(--space) * 2);
}

.sidebar > h3, a {
  text-align: left;
}

.profile-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: var(--space) calc(var(--space) * 2);
}

/* PROFILE - book search */
form.search {
  display: flex;
  align-content: space-between;
}

form.search > input {
 min-width: 220px;
 margin-right: var(--space);
 padding: calc(var(--space) * .5) var(--space);
}



/* FOOTER */
footer {
  text-align: center;
  padding: 10px;
  color: var(--darker);
  margin-top: auto;
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}
